
.more_container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 20px;
    width: 90%;
    /* height: 330px; */
    margin: auto;
    box-sizing: border-box;
}
.card > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff;
}


.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;

}
.top > h1{
    font-size: 28px;
    font-weight: bold;
}
.filter{
    display: flex;
    margin: 5px;
    align-items: center;
}
.filter a{
    color: #ffffff;
    margin-top: -3px;
}
 #sort{
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff;

}
 #sort>option{
    background-color: #0f0617;
    /* color: #ffffff; */
}

.text h3{
    font-size: 16px;
  
}

@media all and (min-width:481px ) and (max-width: 768px){
    .more_container{
        grid-template-columns: repeat(3,1fr);
        margin: auto;
        
    }
    .card{
    
        width: 180px;
        height: 300px;

    }
}


@media all and (min-width:280px ) and (max-width: 480px){
    .more_container{
        grid-template-columns: repeat(2,1fr);
        margin-left: 8%;
    }

    .card{
    
        min-width: 130px;
        height: 240px;

    }
    .top > h1{
        font-size: 16px;
        font-weight: bold;
        align-items: center;
    }
    .text_bottom p{
        display: none;
    }
        #sort>option{
        background-color: #0f0617;
       font-size: 10px;
       padding: 0;
    }
}


@media all and (min-width:51px ) and (max-width: 280px){
    .more_container{
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        margin-left: 8%;
    }

    .card{
    
        min-width: 100px;
        height: 220px;

    }
    .top > h1{
        font-size: 18px;
        font-weight: bold;
    }



    .text >p{
        /* padding: 1% 1.5%; */
        font-size: 10px;
        
        
    }
    .text_bottom{
        display: flex;
        align-items: center;
        
    }
    .text_bottom a{
        border: 1px solid gray;
        padding: 1% 2.5%;
        border-radius: 8px;
        font-size: 10px;
        font-weight: 600;
        margin-right: 10px;
    }
    .text_bottom p{
        display: none;
    }
}