@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color:#0f0617;
    /* overflow: hidden; */
    /* position: relative; */
}


.mySlides {
  display: none
}
img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  /* margin: 10px 0; 
   margin: 10px auto;  */
}
.items > img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height:350px;
    /* object-fit: cover; */
    border-radius: 10px;
   box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(184, 137, 166, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

 .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next2 {
  right: 0%;
  border-radius: 3px 0 0 3px;
}
.pre1:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* ----------------------------slider end ----------------------------- */

a{
    text-decoration: none;
}

.container{
    width: 95.5%;
    margin: auto;
    position: relative;
}
.top_heading{
    display: flex;
    justify-content: space-between;
    color: #ffffff;

}

.top_heading>p,a{
    margin-top: 25px;
}
.top_heading a{
    color:#a785ff;
}
.top >h1{
  margin-top: 20px;
}
/* ----------------------------------heading End --------------------- */

.card_container {
    /* width: 80%; */
    height: 380px;
    display: flex;
    align-items: center;
    transform: translateX(0);
  /* margin: auto; */

    transition: all 0.4s ease-in-out;
    

}
.card{
    
    min-width: 195px;
    height: 330px;
    border-radius: 5px;
    margin-top: 1%;
    position: relative;
    transition: 00.3s;
    margin-right: 25px;
    box-shadow: rgba(194, 130, 171, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.card:hover{
    transform: scale(1.1);
    border: 4px solid #ffffff;
    /* height: 350px; */
}
.crown{
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: #ffffff;
    padding: 1% 1.5%;
    background-color: none;
    border-radius: 50%;
}
.crown a{
    background-color: #ffffff;
    border-radius: 50%;
}
.crown i{
    color:  #ff0066;
   background-color: #ffffff;
  

}
.card >img{
    width: 100%;
    border-radius: 5px;
}
.text{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    padding-bottom: 10px;
    /* border-radius: 5px; */
    line-height: 2;
    padding-left: 2%;
    display: none;
    transition: 0.4s;
}
.card:hover .text{
    display: inherit;
}
.text >p{
    padding: 1% 1.5%;
    font-size: 14px;
    font-weight: bold;
    
}
.text_bottom{
    display: flex;
    align-items: center;
    
}
.text_bottom a{
    border: 1px solid gray;
    padding: 1% 2.5%;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
}
.text_bottom a +p{
    margin-top: 10px;
}
.text_bottom a:hover{
    background-color: #210B61;
    color: #ffffff;
}
.text_bottom p{
    color: gray;
}

  

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
  /* margin: 10px 0; */
}


@media only screen and (max-width: 520px){

  .items > img{
    width: 100%;
    height:250px;
    object-fit: cover;
}

}
/* ----------------------------play video start ------- ---  */