.contain{
    display: grid;
    grid-template-columns: 60% 35%;
    color:#ffffff;
    column-gap: 5%;
}


.contain > .right > h2{
    width: 100%;
    color: #ffffff;
    
}

.contain  .title{
    font-size: 32px;
    font-weight: bold;
    
}

.contain  .title2{
    font-size: 20px;
    color: #ffffff80;
    margin: 11px 16px 0 0;
}
.contain .title2+a{
    color: #a785ff;
    font-size: 20px;
    margin: 11px 16px 0 0;
}
.right-contain{
    display: flex;
    margin-top: 5px;
    margin-left: 5%;
    margin-bottom: 10px;
    margin: 20px 0;
  
}
.right-contain-img > img{
    width: 15rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;    
}

.right-contain-text >h3{
    color:#D8D8D8;
    font-size: 1rem;
    color: rgb(209, 202, 202); 

}
.right-contain-text >p{
    color:#ffffff80;
    font-size: 16px;
    margin: 10px 10px 10px 0;
}
.share_icon{
    width: 200px;
    height: 100px;
    background-color:rgba(143, 142, 142, 0.144);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0;

}

.share_icon i{
    font-size: 46px;

}

.left > iframe{
    margin: 20px 0;
    border-radius: 15px;
}

.desc{
    width: 90%;
    margin-top: 5%;

}




@media all and (min-width:670px ) and (max-width: 768px){
    .contain{
        grid-template-columns: repeat(2,1fr);
        
    }
    .left > iframe{
        height: 14rem;
    }
    .right-contain-img > img{
            width:10rem ;
            height: 5rem;
    }
    .right-contain-text >h3{
        font-size: 14px;
    }
}

@media all and (min-width:381px ) and (max-width: 670px){
    .contain{
        grid-template-columns: repeat(1,1fr);
        
    }

    .right-contain-img > img{
            width:15rem ;
            height: 8rem;
    }
}


@media all and (min-width:51px ) and (max-width: 380px){
    .contain{
        grid-template-columns: repeat(1,1fr);
        
    }
    .left > iframe{
        height: 14rem;
    }
    .right-contain-img > img{
            width:10rem ;
            height: 5rem;
    }
    .right-contain-text >h3{
        font-size: 14px;
    }
}